{# article.twig #}
{% extends "../layouts/master.twig" %}
{% block title %}Index{% endblock %}
{% block content %}
	<h1>Örnek Şablon</h1> 
	<iframe width="440" height="258" src="https://www.youtube.com/embed/SusN8g45JiI" frameborder="0" allowfullscreen></iframe>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi.
	</p>
	<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
	<p>
		voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam.
	</p>
	<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre> 
	<p>
		voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolorum alias itaque officiis ut, ipsum nulla possimus, molestiae neque non est, facilis maiores sequi excepturi voluptatibus sunt aspernatur! Exercitationem, numquam.
	</p>
	<div class="videos pull-right">
		<a href="#" class="next-video btn btn-primary">İleriki Video</a>
	</div>
	<div class="videos pull-right">
		<a href="#" class="next-video btn btn-primary">Windows</a>
		<a href="#" class="next-video btn btn-primary">Mac</a>
	</div>
{% endblock %}