<!DOCTYPE html>
<html lang="tr">
{% include '../layouts/head.twig' with {'title': 'Kendibaglantim.com - Kendi Güvenli Bağlantınızı Kurun'} %}  
<body>
{% include '../layouts/header.twig' %} 
	<section class="features">
		<div class="container">
			<div class="col-md-3 col-sm-6">
				<div class="features-box">
					<img src="assets/img/hizli.png" alt="Hızlı VPN">
					<h2>Hızlı</h2>
					<p>Sunucunun tüm kaynaklarını siz kullanırsınız.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="features-box">
					<img src="assets/img/guvenli.png" alt="Güvenli VPN">
					<h2>Güvenli</h2>
					<p>Bütün internet haberleşmeniz şifreli olarak gerçekleşir.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="features-box">
					<img src="assets/img/katilimsiz.png" alt="Katılımsız VPN">
					<h2>Katılımsız</h2>
					<p>Sistem üstündeki tek yetkili siz olursunuz.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="features-box">
					<img src="assets/img/size-ozel.png" alt="Size Özel VPN">
					<h2>Size Özel</h2>
					<p>Kendi sunucunuz, kendi ayarlarınız, <em>kendi bağlantınız</em>.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="video" id="more-info-video">
		<div class="container">
			<div class="col-md-6">
				<h1 class="video-title">Ortalama 20 dakika içinde <br> güvenli bağlantınız hazır</h1>
				<div class="setup-steps">
					<p><span>1</span>Sunucunuzu Kurun</p>
					<p><span>2</span>Cihazlarınızı Yapılandırın</p>
					<p><span>3</span>Güvenli ve Hızlı İnternetin Tadını Çıkarın!</p>
				</div>
				<p>
					Çayınızı alın ve anlaşılır video yönlendirmeleri ile kendi VPN kurulumunuzu basit bir şekilde tamamlayın. İnternete hızlı ve güvenli bağlanın.
				</p>
				<a href="internetvevpn.html" class="btn btn-primary btn-lg">Dokümantasyon ile başlayın</a>
				<a href="https://goo.gl/fNOaYl" target="_blank" class="btn btn-danger btn-lg">Videolar ile başlayın</a>
			</div>
			<div class="col-md-6">
				<div class="videoWrapper">
					<iframe width="540" height="358" style="padding-top: 20px" src="https://www.youtube.com/embed/SusN8g45JiI" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
	<section class="devices">
		<div class="container">
			<div class="col-md-12 text-align">
				<h1>Tüm cihazlarınızda kullanabilirsiniz.</h1>
				<img src="assets/img/macos-logo.png" width="100">
				<img src="assets/img/windows-logo.png" width="100">
				<img src="assets/img/ios-logo.png" width="100">
				<img src="assets/img/android-logo.png" width="100">
			</div>
		</div>
	</section>
	<!-- @todo: İcon koyulacak sosyal medya kısmına unutma!! -->
	<section class="social-media">
		<div class="">
			<div class="col-md-6 social-media-box">
				<a href="https://facebook.com/kendibaglantim" target="_blank"><div class="facebook">Facebook'ta Beğenin</div></a>
			</div>
			<div class="col-md-6 social-media-box">
				<a href="https://twitter.com/kendibaglantim" target="_blank"><div class="twitter">Twitter'da Takip Edin</div></a>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	<div class="clear"></div>

	{% include '../layouts/footer.twig' %} 
	{% include '../layouts/script.twig' %} 
	<script type="text/javascript">
		$(document).ready(function(){
			$(".more-info").click(function(e) {
				e.preventDefault();
				$('html, body').animate({
					scrollTop: $("#more-info-video").offset().top
				}, 500);
			});
		});
	</script>
</body>
</html>