<div class="footer">
  <div class="container">
    <div class="col-md-6">
      &copy; 2016 - kendibaglantim.com kâr amacı gütmeyen bir bilgilendirme platformudur.
    </div>
    <div class="col-md-6">
      <a href="mailto:iletisim@kendibaglantim.com" class="pull-right">iletisim@kendibaglantim.com</a>
    </div>
  </div>
</div>