<header>
  <div class="container">
    <img src="assets/img/logo.png" alt="Kendi Bağlantım">
    <h1 class="header-center-title">Kendi Güvenli Bağlantınızı Kurun</h1>
    <p>
      İnternet erişiminize müdahaleleri engellemek, hız kaybı yaşamadan güvenli bir şekilde şifreli bağlantı sağlamak için kendi VPN kurulumunuzu yapın.
    </p>
    <a href="https://www.youtube.com/playlist?list=PL2jZMx6EhNFOCZPf9v4AGzR6_afE8tegw" target="_blank" class="start-button btn btn-success btn-lg">Şimdi Başlayın</a><br>
    <a href="#" class="more-info">Tanıtım Videosunu İzleyin</a>
  </div>
</header>