<header>
  <div class="container">
    <div class="text-center">
      <h1 class="header-center-title">Kendi Güvenli Bağlantınızı Kurun</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem neque facilis unde illo inventore amet ipsa fuga eveniet pariatur nostrum recusandae necessitatibus, laudantium nam itaque dolore quam, natus aliquid repudiandae.
      </p>
      <a href="#" class="start-button btn btn-success btn-lg">Şimdi Başla</a><br>
      <a href="#" class="">Tanıtım Videosunu İzle</a>
    </div>
  </div>
</header>