<div class="list-group">
     <a href="tutorial.html" class="list-group-item @@tutorial">Tanıtım: İnternet ve VPN</a>
     <a href="tutorial-0.html" class="list-group-item @@tutorial-0">#0 Giriş</a>
     <a href="tutorial-1.html" class="list-group-item @@tutorial-1">#1 Sunucu Kiralama</a>
     <a href="tutorial-2.html" class="list-group-item @@tutorial-2">#2A Mac Üzerinden Sunucu Kurulumu</a>
     <a href="tutorial-2b.html" class="list-group-item @@tutorial-2b">#2B Windows Üzerinden Sunucu Kurulumu</a>
     <a href="tutorial-3.html" class="list-group-item @@tutorial-3">#3 Mac Bilgisayarlara İstemci Kurulumu</a>
     <a href="tutorial-4.html" class="list-group-item @@tutorial-4">#4 Windows Bilgisayarlara İstemci Kurulumu</a>
     <a href="tutorial-5.html" class="list-group-item @@tutorial-5">#5 iOS Cihazlara İstemci Kurulumu</a>
     <a href="tutorial-6.html" class="list-group-item @@tutorial-6">#6 Android Cihazlara İstemci Kurulumu</a>
</div>