/* 

    Header
    Header kisminda bulunan elementlerine kazandirilmis stiller burada yer alir 

*/

.navbar {
    border: 0;
    padding: 15px 0;
    margin: 0;
    background: #ddd;
    font-size: 16px;
    color: #fff;
}

header {
    min-height: 500px;
    background:linear-gradient(rgba(0,0,0, 0.7),rgba(2, 19, 0, 0.4)),url("../img/kendibaglantim-mutlu-adam.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 40px;

    .header-center-title {
        padding-top: 30px;
        font-size: 48px;
        padding-bottom: 20px;
    }
    p {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 20px;
        width: 65%;
        margin: 0 auto;
    }
    .start-button {
        margin-bottom: 30px;
        font-size: 24px;
    }
    a.more-info {
        color: #fff;
        font-size: 16px;
        &:hover,
        &:active,
        &:focus {
            color: #ccc;
        }
    }
}