/* 

    Layout
    Birden cok sayfada kullanilacak ayni stiller burada yer alir.

*/

.clear {
  clear: both;
}

body{
    font-family: $second-font;
    font-size: 14px;
    color: $def-text-color;
    background-color: $white-color;
}

.main{
    position: relative;
    width: 100%;
}

textarea{
    resize: none;
}